@import url("../app/globals.css");
body:focus{
    background-color: magenta;
}

*{
    box-sizing: content-box;
}

body{
    width:10rem;

}

main{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 2rem;

}
#status{
    display: flex;
    align-items: center;
    padding: 0.1rem;
}
#status img{
    scale: 1.2;
    padding-bottom: 16px;
    border-radius:50%;


}
a{
    text-decoration:none ;
}
a:hover{
    color:rgb(13, 102, 132);
    
}

a:visited{
    color:rgb(13, 102, 132);
}
button{
    color:var(--brand-color);
    background-color: var(--brand-bg-color);
    border:none;
    width:5rem;
    height:2rem;
}

button:hover{
    
    color:black;
    background-color:rgb(158, 194, 237);
}